body {
  margin: 0;
  padding: 0;
  background-color: rgb(243, 245, 248);
  min-width: 400px;
}

.head_menue {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color:lightgreen;
}

.logo_menue {
  padding-right: 20px;
}

.about_menue {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.menue_list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menue_link {
  padding: 10px;
  margin: 1px;
  text-decoration: none;
  background-color:forestgreen;
  color: white;  
  border-radius: 5px;
}

.menue_link:hover {
  background-color:darkgreen;
}

.container {
  display: flex;
  justify-content: center;
  width: 250px;
  margin: 0 auto;
  background-color:seashell;
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
}

.form_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

input {
  margin: 10px auto;
  width: 200px;
  height: 25px;
  border-radius: 5px;
}

.submit_button {
  font-size: 1.2em;
  margin: 5px;
  padding: 5px;
  height: auto;
  width: auto;
  background-color:navy;
  color:white;
}

.main_page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: 0 auto;
  background-color:seashell;
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
}

.registration, .auth {
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  background-color:forestgreen;
  color: white;
  border-radius: 5px;
}

.registration:hover,
.auth:hover {
  background-color:darkgreen;
}

.link_container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.main_footer {
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-top: 50px;
  background-color:lightgreen;
}

.footer_logo {
  margin-left: 30px;
}

.footer_info {
  margin-right: 30px;
}